@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans text-base;
    }

    h1 {
        @apply font-serif text-6xl sm:text-8xl md:text-9xl lg:text-10xl;
    }

    h2 {
        @apply font-serif text-4xl sm:text-5xl md:text-7xl lg:text-7xl;
    }
    h3 {
        @apply text-xl sm:text-xxl md:text-3xl lg:text-3xl;
    }
    h4 {
        @apply text-lg sm:text-xl md:text-xl lg:text-xl;
    }
    h5 {
        @apply text-base sm:text-lg md:text-lg lg:text-lg;
    }
    h6 {
        @apply text-xs sm:text-base md:text-base lg:text-base;
    }

}

@layer components {

    .btn {
        @apply p-5 rounded-full font-bold transition-all duration-300 ease-linear;    
 
        &.btn--primary {
            @apply bg-primary text-neutral-100
        }

        &.btn--primary:hover {
            @apply bg-neutral-800;
        }

        &.btn--secondary {
            @apply bg-neutral-300 text-neutral-700
        }

        &.btn--secondary:hover {
            @apply bg-neutral-400;
        }

        &.btn--small {
            @apply px-8 py-4;
        }

        &.btn--large {
            @apply py-6 px-16 text-xxl;
        }
    }

    .avatar {
        @apply w-14 aspect-square rounded-full;
        & img {
            @apply w-full h-full rounded-full;
        }
    }

    .author {
        @apply flex items-center gap-2 font-bold text-lg text-neutral-800;
        & span {
            @apply max-w-xs line-clamp-1;
        }
    }

    .card {
        @apply w-1/3 m-4 shadow-base rounded-2xl overflow-hidden;

        & > .card__body {
            @apply pt-8 px-6 pb-10 sm:px-10 sm:pt-9 md:p-12 md:pt-11;

            

            & > .card__date {
                @apply text-base text-neutral-600 font-bold mb-4 line-clamp-1; 
            }

            & > .card__title {
                @apply text-3xl text-neutral-700 font-bold mb-3 line-clamp-1; 
            }

            & > .card__desc {
                @apply text-lg text-neutral-600 mb-8 line-clamp-2 text-justify; 
            }

            &:last-child {
                @apply mb-0;
            }

            
        }


    }

}


.btn:hover {
    transform: scale3d(0.96, 0.96, 1.01);
}




/* @font-face {
    font-family: "open_sans_bold";
    src: url('./public/fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "open_sans_semi_bold";
    src: url('./public/fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "open_sans_regular";
    src: url('./public/fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

/* 
@layer base {
    li {
        @apply text-white hover:text-red-400
    }
}

@layer components {
    .header {
        @apply bg-black h-16 flex justify-center items-center;
    }

    .header__wrapper {
        @apply flex justify-between text-white max-w-5xl flex-1;
    }
}
 */

 /* h1 {
    font-family: 'open_sans_bold', serif;
 } */