@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans text-base;
    }

    h1 {
        @apply font-serif text-neutral-800 font-semibold text-6xl sm:text-8xl md:text-9xl lg:text-10xl;
    }
    h2{
        @apply font-serif text-neutral-800 font-semibold text-4xl sm:text-5xl md:text-7xl;
    }
    h3{
        @apply font-bold text-neutral-700 text-xl sm:text-xxl md:text-3xl;
    }
    h4{
        @apply font-bold text-neutral-700 text-lg sm:text-xl;
    }
    h5{
        @apply font-serif text-neutral-800 font-semibold text-base sm:text-lg;
    }
    h6{
        @apply font-serif text-neutral-800 font-semibold text-xs sm:text-base;
    }

    a{
        @apply text-primary text-base underline hover:text-secondary3;
    }

    p {
        @apply text-lg text-neutral-600;

        &.small {
            @apply text-sm;
        }

        &.large {
            @apply text-xl;
        }
    }

    strong {
        @apply text-lg text-neutral-800;
    }

    em{
        @apply font-normal text-lg text-neutral-600;
    }
    blockquote{
        @apply font-normal text-lg text-neutral-600 border-l-4 border-secondary3;
    }

    ul {
        @apply font-normal text-lg text-neutral-600 list-disc ml-10;
    }

    ol {
        @apply font-normal text-lg text-neutral-600 list-decimal ml-10 my-2;
    }

    li {
        @apply list-item;
    }

    

}

/* @font-face {
    font-family: "open_sans_bold";
    src: url('./public/fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "open_sans_semi_bold";
    src: url('./public/fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "open_sans_regular";
    src: url('./public/fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

/* 
@layer base {
    li {
        @apply text-white hover:text-red-400
    }
}

@layer components {
    .header {
        @apply bg-black h-16 flex justify-center items-center;
    }

    .header__wrapper {
        @apply flex justify-between text-white max-w-5xl flex-1;
    }
}
 */

 /* h1 {
    font-family: 'open_sans_bold', serif;
 } */