@import "tailwindcss/base";
@import "./custom-base-styles.css";

@import "tailwindcss/components";
@import "./common.css";
@import "./header.css";
@import "./banner.css";
@import "./reasons.css";
@import "./aboutedu.css";

@import "tailwindcss/utilities";

