@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    body{
      @apply font-sans text-base;
    }
    h1{
      @apply font-serif text-6xl sm:text-8xl md:text-9xl lg:text-10xl text-neutral-800 font-semibold;
    }
    h2{
      @apply font-serif text-4xl sm:text-5xl md:text-7xl lg:text-7xl text-neutral-800 font-semibold;
    }
    h3{
      @apply font-serif text-xl sm:text-xxl md:text-3xl lg:text-3xl text-neutral-700 font-bold;
    }
    h4{
      @apply font-serif text-lg sm:text-xl md:text-xl lg:text-xl text-neutral-700 font-bold;
    }
    h5{
      @apply font-serif text-base sm:text-lg md:text-lg lg:text-lg text-neutral-800 font-semibold;
    }
    h6{
      @apply font-serif text-xs sm:text-base md:text-base lg:text-base font-semibold;
    }
    p{
      @apply text-lg text-neutral-600 font-normal;
  
      &.small{
        @apply text-sm text-neutral-600 font-normal;
      }
      &.large{
        @apply text-xl text-neutral-600 font-normal;
      }
    }
    blockquote{
      @apply text-lg text-primary1;
    }
    a{
      @apply text-lg text-neutral-600 font-normal underline hover:text-secondary3;
    }
    strong{
      @apply text-lg text-neutral-800 font-bold;
    }
    em{
      @apply text-lg font-normal text-neutral-600 italic;
    }
    ul{
      @apply text-lg text-primary1 font-normal;
    }
    ol{
      @apply text-lg text-primary1 font-normal;
    }
  }
/* @font-face {
    font-family: "open_sans_bold";
    src: url('./public/fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "open_sans_semi_bold";
    src: url('./public/fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "open_sans_regular";
    src: url('./public/fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('./public/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

/* 
@layer base {
    li {
        @apply text-white hover:text-red-400
    }
}

@layer components {
    .header {
        @apply bg-black h-16 flex justify-center items-center;
    }

    .header__wrapper {
        @apply flex justify-between text-white max-w-5xl flex-1;
    }
}
 */

 /* h1 {
    font-family: 'open_sans_bold', serif;
 } */