@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply text-white hover:text-red-400
    }
}

@layer components {
    .header {
        @apply bg-black h-16 flex justify-center items-center;
    }

    .header__wrapper {
        @apply flex justify-between text-white max-w-5xl flex-1;
    }
}

