@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans text-base;
    }

    h1 {
        @apply font-serif text-6xl sm:text-8xl md:text-9xl lg:text-10xl text-neutral-800;
    }

    h2 {
        @apply font-serif text-4xl sm:text-5xl md:text-7xl lg:text-7xl text-neutral-800;
    }

    h3 {
        @apply font-serif text-xl sm:text-xxl md:text-3xl lg:text-3xl text-neutral-700;
    }
    h4 {
        @apply font-serif text-lg sm:text-xl md:text-xl lg:text-xl text-neutral-700;
    }
    h5 {
        @apply font-serif text-base sm:text-lg md:text-lg lg:text-lg text-neutral-600;
    }
    h6 {
        @apply font-serif text-xs sm:text-base md:text-base lg:text-base text-neutral-600;
}

    p{
        @apply text-lg text-neutral-600;

        &.small{
            @apply text-sm text-neutral-600;
        }

        &.large{
            @apply text-xl text-neutral-600 md:text-3xl lg:text-3xl;
        }
    }

    ol{
        @apply text-lg text-neutral-600;
    }

    ul{
        @apply text-lg text-neutral-600;
    }

    blockquote{
        @apply text-lg text-neutral-600;
    }

    a{
        @apply text-lg text-neutral-600;
    }

}

@layer components {

    .btn {
        @apply p-5 rounded-full font-bold transition-all duration-300 ease-linear;    
 
        &.btn--primary {
            @apply bg-primary text-neutral-100
        }

        &.btn--primary:hover {
            @apply bg-neutral-800;
        }

        &.btn--secondary {
            @apply bg-neutral-300 text-neutral-700
        }

        &.btn--secondary:hover {
            @apply bg-neutral-400;
        }

        &.btn--small {
            @apply px-8 py-4;
        }

        &.btn--large {
            @apply py-6 px-16 text-xxl;
        }
    }

}


.btn:hover {
    transform: scale3d(0.96, 0.96, 1.01);
}



