$red: red;

@mixin xyz() {
    background-color: green;
    color: $red;
    padding: 10px;
}
    
    
ul  {
    background-color: green;

    li {
        @include xyz;

        a {
            color: coral;
        }
    }
}

section {
    @include xyz;
}

